$library-hover-green: #01b189;
$library-green: #019875;
$light-gray: #e7e7e7;
$button-blue: #4b6a88;
$button-blue-hover: #547798;
$header-border: #D8B493;
// start main styles
body {
    padding: 50px;
    font: 18px "Garamond", serif;
}

a {
    color: $library-green;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: black;
    }
}

a.button, input[type=submit] {
    color: white;
    background: $library-green;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 10px 14px 12px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: $library-hover-green;
    }
}

form a.button, input[type=submit] {
    margin-left: 140px;
}

input[type=submit] {
    border: 0;
}

p {
    margin: 20px auto;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 1.3em;
}

nav {
    border-bottom: 2px solid $header-border;
    ul li {
        display: inline-block;
        list-style: none;
        padding-left: 7px;
        &:after {
            content: " | ";
        }
        &:last-child:after {
            content: none;
        }
    }
}

.pagination {
    width: 151px;
    margin: 30px auto 0;
    li {
        display: inline-block;
        list-style: none;
        padding-left: 10px;
    }
}

.search-form {
    label {
        min-width: 40px;
        margin-left: 10px;
    }
}

h2 {
    border-top: 2px solid $light-gray;
    padding-top: 20px;
}

th {
    border-bottom: 2px solid $header-border;
    text-align: left;
    padding: 5px 20px 5px 10px;
}

tr {
    min-height: 50px;
    .button {
        background-color: $button-blue;
        padding: 4px 8px 5px;
        font-weight: normal;
    }
    .button:hover {
        background-color: $button-blue-hover;
    }
    &:nth-child(2n) {
        background: $light-gray;
    }
}

td {
    padding: 5px 20px 5px 10px;
}

label {
    font-weight: bold;
    min-width: 130px;
    display: inline-block;
}

input {
    padding: 10px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 2px;
    border-color: $light-gray;
}

input[type=text], select {
    margin-left: 10px;
}
