- var page = 1;

if count > 1
    ul.pagination
        while page <= count
            li
                a.button(href=`/${ content }?page=${ page }${ search ? `&search=${ search }` : '' }${ search ? `&title=${ search_title }&author=${ author }&genre=${ genre }&first_published=${ first_published }` : ''}${ filter ? `&filter=${filter}` : ''}`)= page++ 
