extends ./layout.pug
block content
    include ./includes/_filters.pug
    table
        include ./includes/_table_headers.pug
        tbody
            if content === "loans"
                include ./includes/_loan_table.pug
