extends ./layout
block content
    include ./includes/_search
    include ./includes/_filters
    table
        include ./includes/_table_headers
        tbody
            if content === "loans"
                include ./includes/_loan_table
            if content === "books"
                include ./includes/_book_table
            if content === "patrons"
                include ./includes/_patron_table
    if content === "books" || content === "loans"
        include ./includes/_pagination
