extends ./layout.pug
block content
    if content === 'books'
        include ./includes/_book_form.pug
    else if content === 'patrons'
        include ./includes/_patron_form.pug
    h2 Loan History
    table
        include ./includes/_table_headers.pug
        include ./includes/_loan_table.pug
