doctype
html
    head
        title Library Manager 
        link(rel="stylesheet", href="/static/stylesheets/style.css")
        body
            include ./includes/_nav.pug
            block content
