extends ./layout.pug
block content
    h1= title
    p
        strong Book Title: Harry Potter
    p
        strong Loaned By: Andrew Chalkley 
    p
        strong Loaned On: 2015-12-11 
    p
        strong Return By: 2015-12-18 
    form
        p
            label(for="returned_on") Returned On
            input(type="text", id="returned_on", value="2010-10-10")
        p
            input(type="submit", value="Return Book")
